*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}
body{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill{
    width: 160px;
    height: 160px;
    
    position: relative;
}
.Outer{
    height:160px;
    width: 160px;
    border-radius: 50%;
    box-shadow: 6px 6px 10px -10px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
    padding: 20px;
}
.Inner{
    height:120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
               inset 4px 4px 6px -1px rgba(255,255,255,0.7),
               -0.5px -0.5px 0px -10px rgba(255,255,255,1),
               0.5px 0.5px 0px  rgba(0,0,0,0.15),
               0px 12px 10px -10px rgba(0,0,0,0.5);
}
#number{
    font-weight: 600;
    color: #555;

}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}
Svg{
    position: absolute;
    top: 0;
    left: 0;
}
.lang1 {
    margin-left: 55px;
    font-style:initial;
  }
@keyframes anim{
    100%{
        stroke-dashoffset: 165;
    }
}

circle1{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim1 2s linear forwards;
}
@keyframes anim1{
    100%{
        stroke-dashoffset: 118;
    }
}