body{
    margin: 0;
    padding: 0;
    font-family: system-ui;
    display: flex;
    justify-content: center;
    height: 100vh;
    background: #101010;
    text-transform: uppercase;

}
.card{
    position: relative;
    width: 250px;
    background: linear-gradient(0deg,#1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 220px);
    grid-gap: 80px;
    margin: 0;
}
.container .box {
    width: 100%;}
.container .box h2{
    display: block;
    text-align: center;
    color: #777;
    font-weight:normal;
    letter-spacing: 2px;
    font-size: 18px;
}
.container .box .chart{
    position: relative;
    width: 100%;
    height:100%;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height:160px;
    height:160px;
    color:#777;
}
.container .box .chart span {
    font-size: 20px;
    margin-left: -10px;
}
.container .box canvas {
    position: absolute;
    top: 0;
    letter-spacing: 40px;
    width: 100%;
    left: 40px;
}
.container .card:hover{
    transform: translate(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0.5);
}
.container .card:hover h2{
    color:white;
}
.container .card:hover .chart{
    color:white;
    font-size: 50px;
    transition: 1s;

}

